<div class="card bg-base-100 shadow-md p-6">
    <h2 class="text-2xl font-bold mb-4 text-center">Leaderboard entries</h2>

    <div class="space-y-3">
        <div 
            *ngFor="let entry of entries$ | async; index as i"  
            class="flex flex-wrap md:flex-nowrap justify-between items-center gap-2 p-3 rounded-lg bg-pink-50 dark:bg-pink-950">

            <div class="flex flex-col sm:flex-row items-center gap-2">
                 <!-- Color Badge -->
                 <div 
                     [ngStyle]="{'background': entry.color}" 
                     class="badge text-lg"
                     [ngClass]="getTextColorClass(entry.color)">
                     {{i + 1}}
                 </div>
                 <!-- Driver name -->
                 <span class="font-bold pl-2 pr-2">{{entry.name}}</span>
                 <!-- Country flag -->
                 <img [src]="'https://flagcdn.com/' + entry.countryCode.toLowerCase() + '.svg'" alt="{{entry.countryCode}} flag" class="w-6 h-4 inline-block rounded-sm" />
             </div>
                <!-- Lap time -->
                <span>{{entry.time}}</span>

        </div>
        <ng-container *ngIf="entries$ | async as entries">
            <span *ngIf="entries.length === 0">
              There are no entries yet. Use the form to add one.
            </span>
          </ng-container>
          <span class="text-sm">Flag icons by <a href="https://flagpedia.net/" class="underline">flagpedia.net</a></span>
    </div>
</div>