<div class="card bg-base-100 shadow-md p-6">
    <h2 class="text-2xl font-bold mb-4 text-center">Add new entry to the leaderboard</h2>
    <form [formGroup]="entryForm" (ngSubmit)="handleSubmit()">
        <!-- Name field -->
         <div class="form-control">
             <label class="label mb-2 pr-2">
                 Name
             </label>
             <div *ngIf="name?.invalid && name?.touched" class="badge badge-warning ">
                Name should have at least 2 characters</div>
             <input 
                 type="text" 
                 formControlName="name"
                 class="input input-bordered w-full mb-4"
                 placeholder="Enter name" />
         </div>

        <!-- Country field -->
         <div class="form-control">
             <label class="label mb-2 pr-2">
                 Country
             </label>
             <div *ngIf="countryCode?.invalid && countryCode?.touched" class="badge badge-warning ">
                Please pick a country</div>
                <select formControlName="countryCode" class="select select-bordered w-full mb-4">
                    <option value="">Select a country</option>
                    <option *ngFor="let country of countryList" [value]="country">
                      {{ country }}
                    </option>
                  </select>
         </div>

        <!-- Color field -->
         <div class="form-control">
             <label class="label mb-2 pr-2">
                 Color
             </label>
             <input 
                type="color" 
                formControlName="color"
                class="input input-bordered w-full p-1 mb-4" />
         </div>

        <!-- Time field -->
         <div class="form-control">
             <label class="label mb-2 pr-2">
                 Time
             </label>
             <div *ngIf="time?.invalid && time?.touched" class="badge badge-warning ">
                Please fill in a correct time: 1:23.456</div>
             <input 
                type="text" 
                formControlName="time"
                [value]="formattedTime"
                (input)="onTimeInput($event)"
                placeholder="m:ss.mmm"
                class="input input-bordered w-full" />
         </div>

         <!-- Submit button -->
          <div class="form-control mt-4">
            <button 
                type="submit" 
                class="btn bg-cyan-500 hover:bg-cyan-600 text-white w-full"
                [disabled]="entryForm.invalid">
                Add to leaderboard</button>
          </div>
    </form>
</div>